body {
    background-color: #737373;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 50px;
}

.logo {
    width: 50px;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
}

h1 {
    color: #e7e7e7;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 30px;
}

.new-account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a5a5a5;
    box-shadow: 0 0 20px -3px black;
    border-radius: 25px;
    padding: 30px 100px;
}

input {
    display: inline-block;
    margin: 10px 10px;
    padding: 3px 3px;
    border: 2px solid pink;
    border-radius: 5px;
}

input:focus {
    outline: none;
}

::placeholder {
    text-align: center;
    font-size: medium;
}

button {
    color: #a5a5a5;
    font-size: 18px;
    margin: 5px 10px;
    border: none;
    border-radius: 15px;
}

a {
    margin-top: 15px;
    color: #e7e7e7;
    text-align: center;
    text-decoration: none;
}